<main>
    <app-stripe></app-stripe>
    <div class="register-main">
        <div>
            <div class="div-form">
                <h1>Register</h1>
                <app-register-form></app-register-form>
                <div class="div-login">
                    <p class="p2 lg">Already have an account?</p>
                    <a class="p2 lg" routerLink="/" routerLinkActive="active">Sign in</a>
                </div>
            </div>
            <div>
                <img class="div-img" src="assets/jpg/register-image.jpg" alt="Register">
            </div>
        </div>
    </div>
    <app-stripe></app-stripe>
</main>
