<header>
    <div class="div-header">
      <div>
        <h1>Olá, {{userInfo?.name}}!!</h1>
      </div>
      <div class="user-box">
        <img class="avatar" *ngIf="userInfo.profileImageUrl"  src="{{ userInfo.profileImageUrl }}" alt="user-photo" />
        <div class="first-letter-name" *ngIf="!userInfo.profileImageUrl">
            <p>{{userInfo.name?.charAt(0).toUpperCase()}}</p>
        </div>
        <button (click)="OpenUserMenu()" aria-label="menu" title="Open menu">
          <span class="drop-down material-symbols-outlined">
            arrow_drop_down
          </span>
        </button>
        <app-user-menu class="menu" *ngIf="isUserMenuOpen()"></app-user-menu>
      </div>
    </div>
  </header>
