main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
  & > .img-form {
    display: flex;
    flex-direction: row;
    gap: 45px;
    

    & > .div-img {

      & > img {
        width: 450px;
        max-width: 100%;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
      }
    }

    & > .div-form {
      display: flex;
      flex-direction: column;
      background-color: white;
      align-self: center;
      width: 300px;
      min-height: 300px;
      height: 340px;
      gap: 10px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);


      & > .div-register {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 5px;
        margin: 10px;
    
        & > a {
          color: var(--color-purple2)
        }
      }
    }
  }
}