<main>
    <app-stripe></app-stripe>    
    <div class="login-main">
        <div>
            <div class="div-img">
                <img src="assets/png/login-image.png" alt="Login">
            </div>
            <div class="div-form">
                <app-login-form></app-login-form>
                <div class="div-register">
                    <p class="p2 lg">Don't have an account yet?</p>
                    <a class="p2 lg" routerLink="/register" routerLinkActive="active">Sign up</a>
                </div>
            </div>    
        </div>
    </div>
    <app-stripe></app-stripe>
</main>
