div {
    width: 100%;
    height: 60px;
    background-image: linear-gradient(
        360deg,
        #774ac0 0%,
        #5f3dc9 25%,
        #422ea8 50%,
        #291e82 75%,
        #1d1166 100%
    );
}